---
import Layout from '../layouts/Layout.astro';
import Card2 from '../components/test.jsx';
import Card3 from '../components/test2.jsx';
---

<Layout title="Welcome to Astro.">
	<div>
<p>etree </p>
	</div>
</Layout>
../components/test/test.jsx../components/test2/test2.jsx