---
import Layout from '../layouts/Layout.astro';
import Card2 from '../components/test/test.jsx';
import Card3 from '../components/test2/test2.jsx';
import ScrollButton from '../components/scrollButton.jsx';
import Header from '../components/header.jsx';
import global from '../components/global.css'
---

<Layout title="Caribbean Print">
	<div classname={global}>
		<!-- <Header/> -->
		<Card2/>
		<Card3/>
	</div>
</Layout>