---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/header/header.jsx'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<div class="content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>

	body{
		margin: 0;
	}
	.container{
		max-height: 100vh;
		display: grid;
		grid-template-rows: 60px 1fr;
	}

	.content{
		overflow-y: auto;
	}

	
</style>